<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    
  <unity>
    <containers>
      <container name="dependency">
        <types>
          <type type="Sungero.Metadata.Services.IMetadataService, Sungero.Metadata" mapTo="Sungero.Metadata.Services.MetadataServiceImplementer, Sungero.Metadata" />
        </types>
      </container>
    </containers>
  </unity>
</configuration>