<?xml version="1.0" encoding="utf-8" ?>
<!--{@internalLogFile=INTERNAL_LOG_FILE}-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <!--{@value=SYSTEM_NAME}-->
  <variable name="system-name" value="Develop" />

  <!--{@value=LOGS_PATH}-->
  <variable name="logs-path" value="${basedir}/../../../log"/>
  <variable name="log-full-filename" value="${logs-path}/${machinename}.${processname}.${shortdate}.log"/>

  <!--{@value=LOGS_SHARED_PATH}-->
  <variable name="logs-shared-path" value="\\ORPIHOST\Logs\Sungero" />
  <variable name="shared-log-full-filename" value="${logs-shared-path}/${machinename}.${processname}.${shortdate}.log"/>

  <variable name="file-layout" value="${odate}
${assembly-version}
${processid:padding=6}+${threadid:padding=-2}
${level:padding=-5}
${fixed-length:inner=${logger}:maxLength=45:keepRightPart=true:padding=45}
-${ndc:separator=, :addToStart= :addToEnd=\:}
${message} ${onexception:${event-properties:item=description:WhenEmpty=Contact your system administrator}} [${event-properties:item=userName:WhenEmpty=unknown} :${event-properties:item=tenant:WhenEmpty=unknown}]
${onexception:${newline}${exception:format=tostring}}"/>

  <variable name="event-log-layout"
value=' ${logger}: "${message}"
${onexception:${newline} Description\: ${event-properties:item=description:WhenEmpty=Contact your system administrator}${newline}}
 User name: "${event-properties:item=userName:WhenEmpty=unknown}" ${newline}
 Tenant: "${event-properties:item=tenant:WhenEmpty=unknown}" ${newline}
 Version: ${assembly-version}
${onexception:${newline}${exception:format=tostring}}'/>

  <targets>
    <default-wrapper xsi:type="AsyncWrapper" queueLimit="50000" optimizeBufferReuse="true"/>
    <default-target-parameters xsi:type="File" concurrentWrites="true" keepFileOpen="true"/>

    <!--Header у FileTarget логируется при создании файла, а не при старте приложения,
        поэтому запись старта приложения делаем сами отдельным таргетом. https://github.com/NLog/NLog/issues/2119 -->
    <target name="ApplicationStarted" xsi:type="File"
            fileName="${log-full-filename}"
            layout="${newline}${odate} ************** ${processname} ${processid} started **************${newline}"/>

    <target name="file" xsi:type="File"
            fileName="${log-full-filename}"
            header="${newline}${odate} ************** ${processname} ${processid} started **************${newline}"
            footer="${newline}${odate} ************** ${processname} ${processid} closed **************${newline}"
            layout="${file-layout}"/>

    <!--{~LOGS_SHARED}-->
    <!--
    <target name="SharedApplicationStarted" xsi:type="File"
            fileName="shared-log-full-filename"
            layout="${newline}${odate} ************** ${processname} ${processid} started **************${newline}"/>

    <target name="shared_file" xsi:type="File"
            fileName="${shared-log-full-filename}"
            header="${newline}${odate} ************** ${processname} ${processid} started **************${newline}"
            footer="${newline}${odate} ************** ${processname} ${processid} closed **************${newline}"
            layout="${file-layout}"/>
    -->

    <target name="event-log" xsi:type="FallbackGroup" returnToFirstOnSuccess="true">
      <target xsi:type="EventLog"
              layout='${event-log-layout}'
              log="SungeroClient Event Log" />
      <target xsi:type="EventLog"
              layout='${event-log-layout}'/>
    </target>

    <!--{@endpointAddress=$replace-if($equals(SERVER_PROTOCOL,"http"),"https://","http://")}-->
    <!--{@endpointAddress=$replace("https://localhost/Sungero",SERVER_ROOT_HTTPS)}-->
    <!--{@endpointAddress=$replace("http://localhost/Sungero",SERVER_ROOT_HTTP)}-->
    <!--{@endpointAddress=$replace("localhost/Sungero",SERVER_ROOT)}-->
    <!--{@endpointConfigurationName=$replace-if($equals(SERVER_PROTOCOL,"http"),"HttpsLogService","HttpLogService")}-->
    <!--{~LOGS_REMOTE}-->
    <target name="remote" xsi:type="RemoteLoggingTarget"
            header="${newline}${odate} ************** ${processname} ${processid} started **************${newline}"
            footer="${newline}${odate} ************** ${processname} ${processid} closed **************${newline}"
            bufferSize="100"
            fileName="${logs-path}/cache"
            endpointAddress="https://localhost/Sungero/LogService.svc"
            endpointConfigurationName="HttpsLogService"
            includeEventProperties="true">
      <parameter name="exception" layout="${onexception:${newline}${exception:format=tostring}}" />
      <parameter name="processname" layout="${processname}"/>
      <parameter name="machinename" layout="${machinename}"/>
      <parameter name="version" layout="${assembly-version}"/>
      <parameter name="threadid" layout="${threadid}"/>
      <parameter name="processid" layout="${processid}"/>
    </target>

    <target name="console" xsi:type="ColoredConsole" layout="${message}">
      <!--Сообщения от Ndc подсвечиваем-->
      <highlight-row condition="equals(logger,'CommonLibrary.Logging.Ndc')" foregroundColor="Yellow" backgroundColor="DarkBlue"/>
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="White"/>
      <highlight-row condition="contains(message, 'Help codes:')" foregroundColor="Cyan" />
      <highlight-row condition="contains(message, '>> Start')" foregroundColor="DarkCyan" />
      <highlight-row condition="contains(message, '&lt;&lt; Done')" foregroundColor="DarkCyan" />
    </target>

    <!--При необходимости отключить логгер, нужно перенаправить его на нулевой таргет. (writeTo="null-target")-->
    <target name="null-target" xsi:type="Null" />
  </targets>

  <rules>
    <!--{~LOGS_SHARED}-->
    <!--<logger name="SharedApplicationStarted" writeTo="ApplicationStarted" />-->
    <logger name="ApplicationStarted" writeTo="ApplicationStarted" final="true" />
    <!--{~LOGS_SHARED}-->
    <!--<logger name="*" minlevel="Trace" writeTo="shared_file" />-->
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Warn" writeTo="event-log" />
    <!--{~LOGS_REMOTE}-->
    <logger name="*" minlevel="Trace" writeTo="remote" />

    <logger name="Sungero.Presentation.HelpContextService" minLevel="Debug" writeTo="console" />
  </rules>
</nlog>
