<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <!--{@endpoint.address=$replace("https://localhost/Sungero",SERVER_ROOT_HTTPS)}-->
    <!--{@endpoint.address=$replace("http://localhost/Sungero",SERVER_ROOT_HTTP)}-->
    <!--{@endpoint.address=$replace("localhost/Sungero",SERVER_ROOT)}-->
    <client>
      <!--CommonService-->
      <!--HTTP-->
      <endpoint name="HttpCommonServiceWA" address="http://localhost/Sungero/CommonService.svc/wa"
          binding="customBinding" bindingConfiguration="HttpWABinding"
          contract="Sungero.Services.ICommonService"
          behaviorConfiguration="Default">
        <identity>
          <servicePrincipalName />
        </identity>
      </endpoint>
      <endpoint name="HttpCommonServicePW" address="http://localhost/Sungero/CommonService.svc/pw"
          binding="customBinding" bindingConfiguration="HttpPWBinding"
          contract="Sungero.Services.ICommonService"
          behaviorConfiguration="Default">
      </endpoint>

      <!--HTTPS-->
      <endpoint name="HttpsCommonServiceWA" address="https://localhost/Sungero/CommonService.svc/wa"
          binding="customBinding" bindingConfiguration="HttpsWABinding"
          contract="Sungero.Services.ICommonService"
          behaviorConfiguration="Default">
        <identity>
          <servicePrincipalName />
        </identity>
      </endpoint>
      <endpoint name="HttpsCommonServicePW" address="https://localhost/Sungero/CommonService.svc/pw"
          binding="customBinding" bindingConfiguration="HttpsPWBinding"
          contract="Sungero.Services.ICommonService"
          behaviorConfiguration="Default">
      </endpoint>

      <!--DataService-->
      <!--HTTP-->
      <endpoint name="HttpDataServiceWA" address="http://localhost/Sungero/DataService.svc/wa"
          binding="customBinding" bindingConfiguration="HttpWABinding"
          contract="Sungero.Services.IDataService"
          behaviorConfiguration="Default">
        <identity>
          <servicePrincipalName />
        </identity>
      </endpoint>
      <endpoint name="HttpDataServicePW" address="http://localhost/Sungero/DataService.svc/pw"
          binding="customBinding" bindingConfiguration="HttpPWBinding"
          contract="Sungero.Services.IDataService"
          behaviorConfiguration="Default">
      </endpoint>

      <!--HTTPS-->
      <endpoint name="HttpsDataServiceWA" address="https://localhost/Sungero/DataService.svc/wa"
          binding="customBinding" bindingConfiguration="HttpsWABinding"
          contract="Sungero.Services.IDataService"
          behaviorConfiguration="Default">
        <identity>
          <servicePrincipalName />
        </identity>
      </endpoint>
      <endpoint name="HttpsDataServicePW" address="https://localhost/Sungero/DataService.svc/pw"
          binding="customBinding" bindingConfiguration="HttpsPWBinding"
          contract="Sungero.Services.IDataService"
          behaviorConfiguration="Default">
      </endpoint>

      <!--DeployService-->
      <!--HTTP-->
      <endpoint name="HttpDeployServiceWA" address="http://localhost/Sungero/DeployService.svc/wa"
                binding="customBinding" bindingConfiguration="HttpWABinding"
                contract="Sungero.Services.IDeployService"
                behaviorConfiguration="Default">
        <identity>
          <servicePrincipalName />
        </identity>
      </endpoint>
      <endpoint name="HttpDeployServicePW" address="http://localhost/Sungero/DeployService.svc/pw"
                binding="customBinding" bindingConfiguration="HttpPWBinding"
                contract="Sungero.Services.IDeployService"
                behaviorConfiguration="Default">
      </endpoint>

      <!--HTTPS-->
      <endpoint name="HttpsDeployServiceWA" address="https://localhost/Sungero/DeployService.svc/wa"
                binding="customBinding" bindingConfiguration="HttpsWABinding"
                contract="Sungero.Services.IDeployService"
                behaviorConfiguration="Default">
        <identity>
          <servicePrincipalName />
        </identity>
      </endpoint>
      <endpoint name="HttpsDeployServicePW" address="https://localhost/Sungero/DeployService.svc/pw"
                binding="customBinding" bindingConfiguration="HttpsPWBinding"
                contract="Sungero.Services.IDeployService"
                behaviorConfiguration="Default">
      </endpoint>

      <!--ReportService-->
      <!--HTTP-->
      <endpoint name="HttpReportServiceWA" address="http://localhost/Sungero/ReportService.svc/wa"
          binding="customBinding" bindingConfiguration="HttpWABinding"
          contract="Sungero.Reporting.Shared.IReportService"
          behaviorConfiguration="Default">
        <identity>
          <servicePrincipalName />
        </identity>
      </endpoint>
      <endpoint name="HttpReportServicePW" address="http://localhost/Sungero/ReportService.svc/pw"
          binding="customBinding" bindingConfiguration="HttpPWBinding"
          contract="Sungero.Reporting.Shared.IReportService"
          behaviorConfiguration="Default">
      </endpoint>

      <!--HTTPS-->
      <endpoint name="HttpsReportServiceWA" address="https://localhost/Sungero/ReportService.svc/wa"
          binding="customBinding" bindingConfiguration="HttpsWABinding"
          contract="Sungero.Reporting.Shared.IReportService"
          behaviorConfiguration="Default">
        <identity>
          <servicePrincipalName />
        </identity>
      </endpoint>
      <endpoint name="HttpsReportServicePW" address="https://localhost/Sungero/ReportService.svc/pw"
          binding="customBinding" bindingConfiguration="HttpsPWBinding"
          contract="Sungero.Reporting.Shared.IReportService"
          behaviorConfiguration="Default">
      </endpoint>
    </client>

    <bindings>
      <customBinding>
        <!--HTTP-->
        <binding name="HttpWABinding" closeTimeout="00:01:00" openTimeout="00:01:00" sendTimeout="00:01:00">
          <binaryMessageEncoding compressionFormat="GZip">
            <readerQuotas maxDepth="500000000" maxStringContentLength="500000000" maxArrayLength="500000000" maxBytesPerRead="500000000" maxNameTableCharCount="500000000" />
          </binaryMessageEncoding>
          <httpTransport authenticationScheme="Ntlm" maxBufferPoolSize="50000000" maxBufferSize="500000000" maxReceivedMessageSize="500000000"
                         useDefaultWebProxy="true" allowCookies="false" bypassProxyOnLocal="false">
            <extendedProtectionPolicy policyEnforcement="WhenSupported" protectionScenario="TransportSelected" />
          </httpTransport>
        </binding>

        <binding name="HttpPWBinding" closeTimeout="00:01:00" openTimeout="00:01:00" sendTimeout="00:01:00">
          <security authenticationMode="UserNameOverTransport"
                    allowInsecureTransport="true"
                    messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" >
            <localClientSettings maxClockSkew="infinite"/>
            <localServiceSettings maxClockSkew="infinite" />
            <secureConversationBootstrap>
              <localClientSettings maxClockSkew="infinite" />
              <localServiceSettings maxClockSkew="infinite" />
            </secureConversationBootstrap>
          </security>
          <binaryMessageEncoding compressionFormat="GZip">
            <readerQuotas maxDepth="500000000" maxStringContentLength="500000000" maxArrayLength="500000000" maxBytesPerRead="500000000" maxNameTableCharCount="500000000" />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="50000000" maxBufferSize="500000000" maxReceivedMessageSize="500000000"
                         useDefaultWebProxy="true" allowCookies="false" bypassProxyOnLocal="false"/>
        </binding>

        <!--HTTPS-->
        <binding name="HttpsWABinding" closeTimeout="00:01:00" openTimeout="00:01:00" sendTimeout="00:01:00">
          <binaryMessageEncoding compressionFormat="GZip">
            <readerQuotas maxDepth="500000000" maxStringContentLength="500000000" maxArrayLength="500000000" maxBytesPerRead="500000000" maxNameTableCharCount="500000000" />
          </binaryMessageEncoding>
          <httpsTransport authenticationScheme="Ntlm" maxBufferPoolSize="50000000" maxBufferSize="500000000" maxReceivedMessageSize="500000000"
                          useDefaultWebProxy="true" allowCookies="false" bypassProxyOnLocal="false">
            <extendedProtectionPolicy policyEnforcement="WhenSupported" protectionScenario="TransportSelected" />
          </httpsTransport>
        </binding>

        <binding name="HttpsPWBinding" closeTimeout="00:01:00" openTimeout="00:01:00" sendTimeout="00:01:00">
          <security authenticationMode="UserNameOverTransport"
                    messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                    requireDerivedKeys="false" >
            <localClientSettings maxClockSkew="infinite"/>
            <localServiceSettings maxClockSkew="infinite" />
            <secureConversationBootstrap>
              <localClientSettings maxClockSkew="infinite" />
              <localServiceSettings maxClockSkew="infinite" />
            </secureConversationBootstrap>
          </security>
          <binaryMessageEncoding compressionFormat="GZip">
            <readerQuotas maxDepth="500000000" maxStringContentLength="500000000" maxArrayLength="500000000" maxBytesPerRead="500000000" maxNameTableCharCount="500000000" />
          </binaryMessageEncoding>
          <httpsTransport maxBufferPoolSize="50000000" maxBufferSize="500000000" maxReceivedMessageSize="500000000"
                          useDefaultWebProxy="true" allowCookies="false" bypassProxyOnLocal="false"/>
        </binding>
      </customBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="Default">
          <clientCredentials>
            <windows allowNtlm="true"/>
            <serviceCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck" />
            </serviceCertificate>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>

        <behavior name="Storage">
          <!--<tokenCredentials token="123-123-123"/>-->
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
